  .place__title {
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
  }

  @media screen and (max-width: 1023px) {
    .place__title {
      font-size: calc(42px + (72 - 42) * ( (100vw - 768px) / ( 1023 - 768) ));
      line-height: calc(46px + (76 - 46) * ( (100vw - 768px) / ( 1023 - 768) ));
    }
  }

  @media screen and (max-width: 767px) {
    .place__title {
      margin: 0 16px;
      font-size: calc(32px + (42 - 32) * ( (100vw - 768px) / ( 767 - 320) ));
      line-height: calc(35px + (46 - 35) * ( (100vw - 768px) / ( 767 - 320) ));
    }
  }
