.page-footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .page-footer__links {
    flex-direction: column;
    margin-bottom: 48px;
    align-items: flex-start;
  }
}
