.page-footer {
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 92px 48px 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .page-footer {
    padding-top: calc(88px + (92 - 88) * ( (100% - 768px) / ( 1023 - 768) ));
    padding-right: calc(24px + (48 - 24) * ( (100% - 768px) / ( 1023 - 768) ));
    padding-left: calc(24px + (48 - 24) * ( (100% - 768px) / ( 1023 - 768) ));
  }
}

@media screen and (max-width: 767px) {
  .page-footer {
    padding-top: calc(64px + (88 - 64) * ( (100% - 320px) / ( 767 - 320) ));
    padding-left: 16px;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
  }
}

