.page-footer__link {
  margin: 0;
  padding-right: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  opacity: 100%;
  transition: opacity .5s ease-in-out;
}

.page-footer__link:last-of-type {
  padding-right: 0;
}

@media screen and (max-width: 767px) {
  .page-footer__link {
    padding-right: 0;
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 32px;
  }

  .page-footer__link:last-of-type {
    padding-bottom: 0;
  }
}
