.lead {
  width: calc(100% - 296px);
  min-width: 320px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 56px;
  display: block;
}

@media screen and (max-width: 1279px) {
  .lead {
    padding-top: 48px;
    width: calc(100% - (96px + (296 - 96) * ( (100% - 1024px) / ( 1279 - 1024) )));
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    width: calc(100% - ( 96 * ( (100% - 768px) / ( 1023 - 768) )));
  }
}



