.page-header__lang-link {
  margin-right: 18px;
  color: #ffffff;
  text-decoration: none;
  opacity: 100%;
  transition: opacity .5s ease-in-out;
}

.page-header__lang-link:last-of-type {
  margin-right: 0;
}
