.root {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  background: #2A2C2F;
}

h1, h2, h3, a, p, ul, li, figure {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

