.lead__subtitle {
  margin: 0 auto;
  padding: 0;
  max-width: 640px;
  min-width: 288px;
  padding-top: 32px;
  padding-bottom: 64px;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: calc(16px + (30 - 16) * ( (100vw - 320px) / ( 768 - 320) ));
    line-height: calc(120% + (125 - 120) * ( (100vw - 320px) / ( 768 - 320) ));
    width: calc(288px + (640 - 288) * ( (100% - 320px) / ( 768 - 320) ));
    padding-top: calc (16px + (32 - 16) * ( (100% - 320px) / ( 768 - 320) ));
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 125%;
  }
}
