.cover {
  width: calc(100% - 96px);
  margin: 92px auto 0;
  background-image: url(../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: stretch;
}

.cover::after {
  content: "";
  width: 0;
  height: 0;
  padding-top: calc(5/8*100%);
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: calc(100% - ( 96 * ( (100% - 1024px) / ( 1279 - 1024) )));
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    width: 100%;
    margin-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin-top: calc(66px + (90 - 66) * ( (100% - 320px) / ( 767 - 320) ));
  }
}

