.cover {
  width: calc(100vw - 96px);
  max-width: 100%;
  margin: 92px auto 0;
  background-image: url(../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
}

.cover::after {
  content: "";
  width: 0;
  height: 0;
  margin-left: -1;
  padding-top: calc(9/16*100%);
}

@media screen and (max-width: 1280px) {
  .cover {
    width: calc(100% - ( 96 * ( (100% - 1024px) / ( 1280 - 1024) )));
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: calc(66px + (90 - 66) * ( (100% - 320px) / ( 768 - 320) ));
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin-top: 66px;
  }
}
