.cover__title {
  margin: 0 auto;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #fffff;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .cover__title {
    width: calc(288px + (560 - 288) * ( (100% - 320px) / ( 768 - 320) ));
    font-size: calc(32px + (72 - 32) * ( (100vw - 320px) / ( 768 - 320) ));
    line-height: calc(35px + (76 - 35) * ( (100vw - 320px) / ( 768 - 320) ));
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
