.footer {
  margin: 0 auto;
  padding: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-top: calc(88px + (92 - 88) * ( (100% - 768px) / ( 1024 - 768) ));
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: calc(64px + (88 - 64) * ( (100% - 320px) / ( 768 - 320) ));
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-top: 64px;
  }
}
